<!DOCTYPE html>
<html>
<title> ติดต่อเรา-DoDeeMovieHD </title>
<link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/49/49238.svg">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<head>
<body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="
    background-Color:#b4e4f3!important; ">
      <a class="navbar-brand">DoDeeMovieHD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index">หน้าแรก <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link">ติดต่อเรา</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Logout</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="ค้นหา" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ค้นหา</button>
        </form>
      </div>
    </nav>
    <div bg-light" style="
    /* background-Color:#cfd6dc!important; */
    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg);
    ">
    <div style="margin:0; color:#FFFF33;">
<br><br><br>
  <center>
<h3>ติดต่อเรา</h3>
  <table border="5" bordercolor="black">

    <tr align="center" BGCOLOR = "FF66FF">
        <td width="100"><img src="https://www.flaticon.com/svg/static/icons/svg/187/187189.svg" WIDTH"50" HEIGHT=50></td>
        <td width=320 height=80><CENTER><h6 style="margin:0; color:#660066;">Thaksaporn Ruengkam</h6></td></CENTER></td>
    </tr>
    <tr align="center" BGCOLOR = "FF66FF">
        <td width="100"><center><img src="https://www.flaticon.com/svg/static/icons/svg/1409/1409946.svg" WIDTH"50" HEIGHT=50></center></td>
        <td width=320 height=80><center><h6 style="margin:0; color:#660066;"> truengkam </h6></center> </td>
    </tr>
    <tr align="center" BGCOLOR = "FF66FF">
        <td width="100"><center><img src="https://www.flaticon.com/svg/static/icons/svg/1409/1409937.svg" WIDTH"50" HEIGHT=50></center></td>
        <td width=320 height=80><center><h6 style="margin:0; color:#660066;">Thaksaporn Ruengkam</h6></center> </td>
    </tr>
    <tr align="center" BGCOLOR = "FF66FF">
        <td width="100"><center><img src="https://www.flaticon.com/svg/static/icons/svg/185/185980.svg" WIDTH"50" HEIGHT=50></center></td>
        <td width=320 height=80><center><h6 style="margin:0; color:#660066;">thaksaporn ruengkam</h6></center> </td>
    </tr>
  </table>

</center>
    </div>

    <br><br><br></div>
    <footer class="blog-footer text-center" style="padding: 15px;background-Color:#b4e4f3;">
        <p style="margin:0; color:#000;">ดูหนังออนไลน์ DoDeeMovieHD</p>
      </footer>
</body>
</html>